requests
pyopenssl
prettyprinter
prettyprint
queuelib
fake_useragent
python-whois
argparse
bs4
dnspython
wafw00f
python-whois
sockets
google
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability